@model Department
@{
    Layout = "Layout_2";
    //ViewBag.Title = "department edit";
}


    <form method="post">
        <label asp-for="DeptId" class="form-label"></label>
        <input asp-for="DeptId" class="form-control" /></br>
        <label asp-for="DeptName" class="form-label"></label>
        <input asp-for="DeptName" class="form-control" /></br>
        <input type="submit" value="Edit"/>
    </form>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

