
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddFile</title>
</head>
<body>
    
    <form action="/Student/AddFile" enctype="multipart/form-data" method="Post">
        <input type="text" name="Id" />
        <input type="file" name="formFile" />
        <input type="submit" value="Add" />
    </form>

</body>
</html>
